.projectbox {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.sidebar {
    border-right: 1px solid #eee;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    height:100vh;
}