:local .status {
    padding-left: 4px;
    padding-right: 4px;
}

:local .blue {
    background-color: blue;
}

:local .yellow {
    background-color: yellow;
}

:local .red {
    background-color: red;
}

:local .box {
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

:local .box > a {
    margin-left: 10px;
    margin-bottom: 3px;
}
