body {
  display: flex;
}

#react-root {
  display: flex;
  flex: 1;
  height: 100vh;
  align-self: stretch;
  align-items: stretch;
}

#react-root > div {
  display: flex;
  flex: 1;
  align-items: stretch;
  flex-direction: column;
}
